name: PNPM

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  merge:
    if: ${{ github.event.pull_request.merged }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.base.ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Merge git branch lockfiles
        run: pnpm install --merge-git-branch-lockfiles
      - name: Commit and push merged lockfile
        # Commit the updated pnpm-lock.yaml to the base branch
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore(pnpm)"
          # Files to commit can be explicitly listed
          file_pattern: "pnpm-lock.yaml"
